# Project packages (without recursive dependencies)
joblib==0.14.1
termcolor==1.1.0
Click==7.0
twine==3.1.1
pytest==5.3.5
pylint==2.4.4
# TEMP
pyfiglet==0.8.post1

# - (Recursive dependencies)
atomicwrites==1.3.0
attrs==19.3.0
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
idna==2.8
importlib-metadata==0.19
keyring==20.0.0
more-itertools==7.2.0
packaging==19.1
pkginfo==1.5.0.1
pluggy==0.12.0
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.2
PyYAML==5.1.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
tqdm==4.32.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.5.2
astroid==2.3.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
wrapt==1.11.2
